body,a,p,div,canvas,span {
		padding:0px;
		margin:0px;
		font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
canvas {
		margin:20px auto auto auto;
		border:solid 1px #555555;
		display:block;
}
#instruction {
		margin:0px auto auto auto;
		width:800px;
}
#scoretab{
	position:absolute;
	left:10px;
	top:10px;
}
#scorer{
	font-size:24px;
	list-style:none;
}
